/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field{
    margin-right:20px;
}

.mat-raised-button{
    margin:10px 10px 10px 0px!important;
}

table {
    width: 100%;
}